<div class="w-full flex flex-wrap justify-evenly gap-3 p-2 shadow-inner rounded-t-md ">
    <div class="flex flex-col items-center min-w-[120px]">
        <span class="text-xs text-gray-500">Apport postes</span>
        <span class="font-semibold text-xs text-green-700">{{ ApportHeures() | number:'1.2-2' }}</span>
    </div>
    <div class="flex flex-col items-center min-w-[120px]">
        <span class="text-xs text-gray-500">Besoins</span>
        <span class="font-semibold text-xs text-red-700">{{ BesoinHeures() | number:'1.2-2' }}</span>
    </div>
    <div class="flex flex-col items-center min-w-[120px]">
        <span class="text-xs text-gray-500">BMP/HSA</span>
        <span *ngIf="BesoinHeures() - ApportHeures() < 0" class="font-semibold text-xs text-orange-700">0</span>
        <span *ngIf="BesoinHeures() - ApportHeures() > 0" class="font-semibold text-xs text-orange-700">{{
            BesoinHeures() - ApportHeures() | number:'1.2-2' }}</span>
    </div>
    <div class="flex flex-col items-center min-w-[120px]">
        <span class="text-xs text-gray-500">Heure(s) non pourvue(s)</span>
        <span class="font-semibold text-xs text-orange-700">{{ BesoinHeures() - HeuresAffectees() |
            number:'1.2-2'}}</span>
    </div>
    <div class="flex flex-col items-center min-w-[120px]">
        <span class="text-xs text-gray-500">Total HSA équipe</span>
        <span class="font-semibold text-xs text-blue-700">{{ CalculateTotalHSA() | number:'1.2-2' }}</span>
    </div>
    <div class="flex flex-col items-center min-w-[120px]">
        <span class="text-xs text-gray-500">Division(s) non affectée(s)</span>
        <span class="font-semibold text-xs text-purple-700">{{ getDivisionsNonAffecteesDisplay() }}</span>
    </div>
    <div class="flex flex-col items-center min-w-[120px]">
        <span class="text-xs text-gray-500">Sous-service(s)</span>
        <span class="font-semibold text-xs text-purple-700">
            {{ getEnseignantsSousServiceDisplay() }}
        </span>
    </div>