<h1 class="text-3xl text-center font-semi-bold font-['Oxanium']">Services</h1>

<div *ngIf="enseignants.length === 0" class="text-center text-lg text-red-600 mb-8">
  Aucun(e) enseignant(e) dans la base de données ! Commencez par en ajouter un(e) avant de constituer son service.
</div>

<div *ngIf="enseignants.length > 0" class="flex flex-wrap gap-4 justify-center mt-8">
  <div *ngFor="let enseignant of enseignants" class="border rounded shadow p-4 w-64 bg-white">
    <h2 class="text-xl text-center font-bold mb-4">{{ enseignant.nom }}</h2>
    <div *ngIf="divisions.length === 0" class="text-center text-sm text-red-600 mt-8 mb-8">
      Aucun(e) division dans la base de données ! Commencez par en ajouter un(e) pour pouvoir la répartir les services.
    </div>
    <ul *ngIf="divisions.length > 0" class="pl-6 list-none">
      <li *ngFor="let division of divisions" class="flex items-center mb-2">
        <span class="flex-1">{{ division.nom }}</span>
        <button type="button" name="deleteClass" (click)="deleteClassFromService(enseignant, division.nom)"
          [disabled]="isDeleteDisabled(enseignant, division)"
          [ngClass]="isDeleteDisabled(enseignant, division) ? 'bg-gray-200 px-2 rounded-l cursor-not-allowed' : 'bg-red-200 px-2 rounded-l hover:bg-red-300'">-</button>
        <span class="mx-2">{{ getClasseNoForDivision(enseignant, division.nom) }}</span>
        <button type="button" name="addClass" (click)="addClassToService(enseignant, division.nom)"
          [disabled]="isAddDisabled(division)"
          [ngClass]="isAddDisabled(division) ? 'bg-gray-200 px-2 rounded-r cursor-not-allowed' : 'bg-green-200 px-2 rounded-r hover:bg-green-300'">
          +
        </button>
      </li>
    </ul>
    <hr class="my-4">
    <h3 class="text-xl text-center font-semi-bold mb-4 mt-4">Service : {{CalculateService(enseignant)| number:'1.2-2'}}
    </h3>
    <h3 class="text-xl text-center font-semi-bold">
      HSA : {{ (CalculateHSA(enseignant)) < 0 ? 0 : (CalculateHSA(enseignant)| number:'1.2-2') }} </h3>
  </div>
</div>

<div class="justify-center flex mt-2 mb-2 mt-6">
  <button type="button"
    class="bg-orange-600 text-white border rounded px-4 mr-3 hover:bg-orange-700 transition cursor-pointer"
    [routerLink]="'/divisions'">
    <i class="fas fa-arrow-left"></i>
  </button>
  <button type="button" (click)="exportToCSV()"
    class="bg-purple-600 text-white border rounded px-4 mr-3 hover:bg-purple-700 transition cursor-pointer">
    <i class="fa-solid fa-file-export"></i>
  </button>
</div>