<div class="sticky top-0 z-30 pb-2 bg-neutral-100">
    <h1 class="text-3xl text-center font-semi-bold mb-8 font-['Oxanium']">Divisions</h1>

    <div class="flex justify-center mb-2">
       <form #divisionForm="ngForm" (ngSubmit)="onSubmit()"
    class="flex flex-wrap justify-center items-center gap-x-4 gap-y-2">
    <label class="flex items-center">
        Niveau :
        <input type="text" name="nom" required [(ngModel)]="nouvelleDivision.nom" class="border border-gray-400 rounded px-2 ml-2" />
    </label>
    <label class="flex items-center">
        Nombre de divisions :
        <input type="number" name="nombreDivisions" min="1" max="40" required [(ngModel)]="nouvelleDivision.nombreDivisions"
            class="border border-gray-400 rounded px-2 ml-2 w-16 text-right" />
    </label>
    <label class="flex items-center">
        Heures en classe entière (élève) :
        <input type="number" name="horaire_eleve_classe_entiere" min="0" max="20" required [(ngModel)]="nouvelleDivision.horaire_eleve_classe_entiere"
            class="border border-gray-400 rounded px-2 ml-2 w-16 text-right" />
    </label>
    <label class="flex items-center">
        Heures en demi-groupe (élève) :
        <input type="number" name="horaire_eleve_demi_groupe" min="0" max="20" required [(ngModel)]="nouvelleDivision.horaire_eleve_demi_groupe"
            class="border border-gray-400 rounded px-2 ml-2 w-16 text-right" />
    </label>
    <label class="flex items-center">
        Pondération :
        <select name="division_examen" required [(ngModel)]="nouvelleDivision.division_examen" class="border border-gray-400 rounded px-2 ml-2"
        (ngModelChange)="
                (nouvelleDivision.division_examen === 0 || !nouvelleDivision.division_examen) && (nouvelleDivision.ponderation = 1)
            ">
            <option value="">--Choisir--</option>
            <option [ngValue]="1">Oui</option>
            <option [ngValue]="0">Non</option>
            
        </select>
    </label>
    <label class="flex items-center">
        Coefficient de la pondération :
        <input
            type="number"
            name="ponderation"
            min="1"
            max="4"
            required
            [(ngModel)]="nouvelleDivision.ponderation"
            [disabled]="nouvelleDivision.division_examen === 0 || !nouvelleDivision.division_examen"
            [ngClass]="nouvelleDivision.division_examen === 0 || !nouvelleDivision.division_examen ? 'bg-gray-200 text-gray-500' : ''"
            class="border border-gray-400 rounded px-2 ml-2 w-16 text-right"
        />
    </label>
            <div class="flex items-center gap-1 mt-2 md:mt-0">
                <button type="submit" [disabled]="divisionForm.invalid" [ngClass]="divisionForm.invalid
    ? 'bg-gray-400 border-gray-400 cursor-not-allowed'
    : 'bg-green-600 border-green-600 hover:bg-green-700'" class="text-white border rounded px-2 transition px-2">
                    <i class="fa fa-save"></i>
                </button>
                <button type="button" id="eraseButton" [disabled]="!divisionSelectionnee && (!nouvelleDivision.nom && !nouvelleDivision.nombreDivisions && 
          !nouvelleDivision.horaire_eleve_classe_entiere && !nouvelleDivision.horaire_eleve_demi_groupe && 
          !nouvelleDivision.division_examen && (!nouvelleDivision.ponderation || nouvelleDivision.ponderation == 1))" 
          [ngClass]="!divisionSelectionnee && (!nouvelleDivision.nom && !nouvelleDivision.nombreDivisions && 
          !nouvelleDivision.horaire_eleve_classe_entiere && !nouvelleDivision.horaire_eleve_demi_groupe && 
          !nouvelleDivision.division_examen && (!nouvelleDivision.ponderation || nouvelleDivision.ponderation == 1))
    ? 'bg-gray-400 border-gray-400 cursor-not-allowed'
    : 'bg-yellow-500 border-yellow-500 hover:bg-yellow-600'" class="text-white border rounded px-2 transition px-2"
                    (click)="clearInputs(divisionForm)">
                    <i class="fa fa-eraser"></i>
                </button>
                <button type="button" id="modifyButton" [disabled]="!divisionSelectionnee" [ngClass]="!divisionSelectionnee
    ? 'bg-gray-400 border-gray-400 cursor-not-allowed'
    : 'bg-blue-600 border-blue-600 hover:bg-blue-700'" class="text-white border rounded px-2 transition px-2"
                    (click)="editSelectedDivision()">
                    <i class="fa fa-edit"></i>
                </button>
                <button type="button" id="deleteButton" [disabled]="!divisionSelectionnee" [ngClass]="!divisionSelectionnee
    ? 'bg-gray-400 border-gray-400 cursor-not-allowed'
    : 'bg-red-600 border-red-600 hover:bg-red-700'" class="text-white border rounded px-2 transition px-2"
                    (click)="deleteSelectedDivision()">
                    <i class="fa fa-trash"></i>
                </button>
            </div>
        </form>
    </div>
</div>

<div *ngIf="divisions.length === 0" class="text-center text-lg text-red-600 mt-8 mb-8">
  Aucune division dans la base de données ! Commencez par en ajouter une.
</div>

<div *ngIf="divisions.length > 0" class="overflow-x-auto mt-4 px-2" style="max-height: 50vh; overflow-y:auto;">
  <table class="table-auto w-full border border-gray-300 rounded-lg overflow-hidden shadow">
    <thead class="bg-blue-100">
      <tr>
        <th class="px-4 py-2 text-left font-semibold text-blue-800">Niveau</th>
        <th class="px-4 py-2 text-left font-semibold text-blue-800">Nombre de divisions</th>
        <th class="px-4 py-2 text-left font-semibold text-blue-800">Pondération</th>
        <th class="px-4 py-2 text-left font-semibold text-blue-800">Heures élève</th>
        <th class="px-4 py-2 text-left font-semibold text-blue-800">Heures prof (par division)</th>
        <th class="px-4 py-2 text-left font-semibold text-blue-800">Heures prof (total)</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let division of divisions" (click)="selectDivision(division)"
        [class.bg-blue-200]="divisionSelectionnee === division" class="cursor-pointer">
        <td class="border-t px-4 py-2">{{ division.nom }}</td>
        <td class="border-t px-4 py-2">{{ division.nombreDivisions }}</td>
        <td class="border-t px-4 py-2 text-left">{{ division.division_examen == 1 ? 'Oui' : 'Non' }}</td>
        <td class="border-t px-4 py-2 text-left">{{ division.horaire_eleve_classe_entiere + division.horaire_eleve_demi_groupe }}</td>
        <td class="border-t px-4 py-2 text-left">{{ division.horaire_enseignant | number:'1.2-2' }}</td>
        <td class="border-t px-4 py-2 text-left">{{ (division.horaire_enseignant * division.nombreDivisions) | number:'1.2-2' }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="sticky bottom-0 z-30 pt-2 justify-center flex mt-2 bg-neutral-100">
     <button type="button" class="bg-orange-600 text-white border rounded px-4 mr-3 hover:bg-orange-700 transition cursor-pointer"
        [routerLink]="'/enseignants'">
        <i class="fas fa-arrow-left"></i>
    </button>
    <button type="button" (click)="exportDivisionsToCSV()"
    class="bg-purple-600 text-white border rounded px-4 mr-3 hover:bg-purple-700 transition cursor-pointer">
    <i class="fa-solid fa-file-export"></i>
  </button>
    <button type="button" class="bg-orange-600 text-white border rounded px-4 mr-3 hover:bg-orange-700 transition cursor-pointer"
        [routerLink]="'/services'">
        <i class="fas fa-arrow-right"></i>
    </button>
</div>